@import '../../variables';

.rs-app-container {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: $colorFillDark;
  padding-top: 22px;
}

.rs-main-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;
}

.title-bar {
  height: 22px;
  width: 100%;
  background-color: #252526;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-app-region: drag;
}