$colorFillDark: #1e1e1e;
$colorFillMidDark: #252526;
$colorFillLight: #A3A3A3;
$colorFillHighlightBlue: #569cd6;

$colorTextLight: $colorFillLight;
$colorTextDark: $colorFillDark;

$borderRadius: 3px;