<section class="rs-pianoroll-block">
    <div class="rs-pianoroll-resize-block" (mousedown)="resizePianoroll()">
        <div class="rs-pianoroll-resize-block__icon"></div>
        <div class="rs-pianoroll-resize-block__icon"></div>
        <div class="rs-pianoroll-resize-block__icon"></div>
    </div>
    <div class="rs-pianoroll-actions-block">
        <span class="rs-pianoroll-action__icon">
            <i class="fa fa-music"></i>
        </span>
        <span class="rs-pianoroll-action__icon">
            <i class="fa fa-sliders-h"></i>
        </span>
    </div>
    <div class="rs-pianoroll-content-block">

    </div>
</section>