@import '../../variables';

.rs-sidebar-block {
  width: 300px;
  height: 100%;
  background-color: $colorFillMidDark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.rs-sidebar-tab-block {
  width: 100%;
  border: 1px solid $colorFillLight;
  border-radius: $borderRadius;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rs-tab-block__element {
  height: 100%;
  padding: 5px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: transparent;
  color: $colorTextLight;
  font-family: sans-serif;
  cursor: pointer;
  transition: all ease-in-out 100ms;
}

.rs-tab-block__element--active {
  background-color: $colorFillLight;
  color: $colorTextDark;
}

.rs-sidebar-content-block {
  flex: 1;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: auto;

  &::-webkit-scrollbar { 
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: $colorFillMid;
    border-radius: 20px;
    transition: background-color ease-in-out 200ms;

    &:hover {
      background-color: $colorFillHighlightBlue;
    }

    &:active {
      background-color: $colorFillHighlightBlue;
    }
  }
  &::-webkit-scrollbar-track { 
    background-color: $colorFillDark;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}